body {
  margin: 0;
  font-family: Arial;
  color: white;
  text-align: center;
}

/* Pantallas */
.pantalla {
  display: none;
}

.activa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* IMPORTANTE: usa nombres EXACTOS de archivos */
#inicio {
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("./fotos/fondo.jpeg");

  background-size: cover;
  background-position: center;
}

#juego {
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("./fotos/fondo1.jpeg");

  background-size: cover;
  background-position: center;
}

#preguntaBox {
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("./fotos/fondo1.jpeg");

  background-size: cover;
  background-position: center;
}

button {
  padding: 12px 25px;
  font-size: 20px;
  background: #ff9800;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.contenedor {
  display: flex;
  gap: 30px;
}

.puerta {
  width: 148px;
  height: 243px;
  background-size: cover;
  background-position: center;
}
