body {
  margin: 0;
  font-family: Arial;
  color: white;
  text-align: center;
}

/* Pantallas */
.pantalla {
  display: none;
}

.activa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* INICIO */
#inicio {
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("./fotos/fondo.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* JUEGO */
#juego {
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("./fotos/fondo1.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* PREGUNTA */
#preguntaBox {
  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("./fotos/fondo1.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Botones */
button {
  padding: 12px 25px;
  font-size: 20px;
  background: #ff9800;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background: #e68900;
  transform: scale(1.05);
}

/* Ronda */
#ronda {
  position: absolute;
  top: 10px;
  right: 20px;
}

/* Puertas */
.contenedor {
  display: flex;
  gap: 30px;
}

.puerta {
  width: 148px;
  height: 243px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.puerta:hover {
  transform: scale(1.1);
}
